# Зависимости
node_modules/

# База данных
data/

# Переменные окружения
.env
.env.local
.env.production

# Логи
logs/
*.log
npm-debug.log*

# Системные файлы macOS
.DS_Store

# IDE
.vscode/
.idea/

# Бэкапы БД
backups/
*.db-shm
*.db-wal
